#coffee {
    background: url('../img/bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#edit-title {
    visibility: hidden;
}
#mantra:hover #edit-title {
    visibility: visible;
}
#targets {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    margin: 5px;
}
