#coffee {
    background: url('../img/bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#mountain {
    background: url('../img/bg2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#edit-title {
    visibility: hidden;
}
#mantra:hover #edit-title {
    visibility: visible;
}
#targets {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    margin: 5px;
}
#small-date {
    font-size: 0.775em;
    color: #888;
    position: relative;
    top: -5px;
}

#textarea {
    border: 1px #ddd solid;
    width: 400px;
    height: 120px;
    resize: none;
}
@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
    .custom-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}