<% %>


<!DOCTYPE html>

<html class="has-navbar-fixed-top" lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <% include ../parts/header %>
<body>
    <script>
        $(document).ready(function(){
            $("#login-form-query").submit(function(){
                
            });
            $("#submt-button").click(function(){
                $("#login-form-query").submit();
            });  
        });
    </script>

    <% include ../parts/menu %>

    <section id="coffee" class="hero is-info is-medium" style="text-align:right">
        <div class="hero-body">
            <h1 class="title" style="color:#fff;">
                Login
            </h1>
            <p class="subtitle" style="color:#fff">
                ti arriva un bit sul muso
            </p>
            <form id="login-form-query" style="width:300px;float:right" action="/checkAuth" method="post">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" name="email" type="email" placeholder="Email">
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fa fa-check"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" name="pwd" type="password" placeholder="Password">
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field" style="float:right">
                    <p class="control">
                        <button class="button is-success" id="submt-button">
                            Login
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </section>

    <% include ../parts/footer %>

</body>
</html>
