<!-- pages/parts/footer.ejs -->
<footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>MindlyGroup</strong> by <a href="https://github.com/carbogninalberto">Alberto Carbognin</a> &copy 2018
                </p>
            </div>
        </div>
    </footer>