<!-- pages/parts/menu_func.ejs -->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="img/target.png" />
                <p class="is-small" style="padding-left:10px">
                    Stay <strong>Focused</strong>!
                </p>
            </a>
            
            <div class="navbar-item">
                <a class="button is-info" href="/goals">
                    <i class="mdi mdi-24px mdi-bullseye"></i>
                </a>
                <a class="button is-info" href="/days" style="margin-left:10px;">
                    <i class="mdi mdi-24px mdi-calendar-text"></i>
                </a>
                <a class="button is-info" href="/profile" style="margin-left:10px;">
                    <i class="mdi mdi-24px mdi-account"></i>
                </a>
            </div>
            
        </div>

        <div class="navbar-menu">

            <div class="navbar-end">
                <div class="navbar-item">
                    <span class="button is-warning " style="margin-left:10px;cursor:default;color: white;">600 <i class="mdi mdi-24px mdi-cash"></i></span>
                </div>
            </div>
        </div>
    </nav>