<!DOCTYPE html>

<html class="has-navbar-fixed-top" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<% include ../parts/header %>
<body>

    <% include ../parts/menu_func %>

    <section class="section" style="text-align:center;background-color: #f1f1f1;">
        <div class="tabs is-centered">
            <ul>
                <li class="is-active">
                    <a>
                        <span class="icon is-small"><i class="fa fa-globe"></i></span>
                        <span>Flusso Gruppo</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small"><i class="fa fa-sticky-note"></i></span>
                        <span>Diario</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small"><i class="fa fa-area-chart"></i></span>
                        <span>Statistiche</span>
                    </a>
                </li>
            </ul>
        </div>

        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Alberto Carbognin</strong> <small>@shythappens</small> <small>31m</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <a class="level-item">
                            <span class="icon is-small"><i class="fa fa-reply"></i></span>
                        </a>
                        <a class="level-item">
                            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                        </a>
                        <a class="level-item">
                            <span class="icon is-small"><i class="fa fa-heart"></i></span>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="media-right">
                <button class="delete"></button>
            </div>
        </article>

        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Michele Tessari</strong> <small>@youclose</small> <small>31m</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <a class="level-item">
                            <span class="icon is-small"><i class="fa fa-reply"></i></span>
                        </a>
                        <a class="level-item">
                            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                        </a>
                        <a class="level-item">
                            <span class="icon is-small"><i class="fa fa-heart"></i></span>
                        </a>
                    </div>
                </nav>

                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Alberto Carbognin</strong>
                                <br>
                                Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                                <br>
                                <small><a>Reply</a> · 2 hrs</small>
                            </p>
                        </div>
                    </div>
                </article>

            </div>
            <div class="media-right">
                <button class="delete"></button>
            </div>

            

        </article>

        

    </section>
    
    <% include ../parts/footer %>    

</body>
</html>
