<!DOCTYPE html>

<html class="has-navbar-fixed-top" lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <% include ../parts/header %>
<body>
    <% include ../parts/menu_func %>

    <section class="section" style="text-align:center;background-color: #f1f1f1;">
        <h1 id="mantra" class="title" style="font-size: 60px;">
            #MANTRA
            <span class="icon" id="edit-title">
                <a url="edit"><i class="mdi mdi-18px mdi-pencil"></i></a>
            </span>
        </h1>
        <div class="columns">
            <div class="column"  id="targets">
                <h2>
                    <strong> OBIETTIVI PRINCIPALI</strong>
                    <a class="button is-warning is-small" href="/targets" style="margin-left:10px;">
                        <i class="mdi mdi-18px mdi-plus-box"></i>
                    </a>
                </h2>

                <div id="mantra" class="tile is-parent">
                    <article class="tile is-child notification is-info">

                        <p class="title">Palestra & Dieta</p>

                        <div class="content">
                            <p class="subtitle">#CostanzaNoPanza</p>
                        </div>

                    </article>
                    <span class="icon" id="edit-title" style="position:relative">
                        <a url="edit"><i class="mdi mdi-18px mdi-pencil"></i></a>
                    </span>
                </div>
                <div id="mantra" class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">Tesi</p>

                        <div class="content">
                            <p class="subtitle">#WritingThings</p>
                        </div>
                    </article>
                    <span class="icon" id="edit-title" style="position:relative">
                        <a url="edit"><i class="mdi mdi-18px mdi-pencil"></i></a>
                    </span>
                </div>
                <div id="mantra" class="tile is-parent">

                    <article class="tile is-child notification is-info">
                        <p class="title">Sviluppare Gioco</p>

                        <div class="content">
                            <p class="subtitle">#Animate2</p>
                        </div>
                    </article>
                    <span class="icon" id="edit-title" style="position:relative">
                        <a url="edit"><i class="mdi mdi-18px mdi-pencil"></i></a>
                    </span>
                </div>
                <div id="mantra" class="tile is-parent">

                    <article class="tile is-child notification is-info">
                        <p class="title">Machine Learning</p>

                        <div class="content">
                            <p class="subtitle">#2Smart</p>
                        </div>
                    </article>
                    <span class="icon" id="edit-title" style="position:relative">
                        <a url="edit"><i class="mdi mdi-18px mdi-pencil"></i></a>
                    </span>
                </div>

            </div>
            <div class="column" id="targets">
                <h2>
                    <strong>OBIETTIVI ANNUALI</strong>
                    <a class="button is-warning is-small" href="/targets" style="margin-left:10px;">
                        <i class="mdi mdi-18px mdi-plus-box"></i>
                    </a>
                </h2>
            </div>
            <div class="column" id="targets">
                <h2>
                    <strong>LIBRI</strong>
                    <a class="button is-warning is-small" href="/targets" style="margin-left:10px;">
                        <i class="mdi mdi-18px mdi-plus-box"></i>
                    </a>
                </h2>
            </div>
        </div>

    </section>

</body>
</html>
