<!DOCTYPE html>

<html class="has-navbar-fixed-top" lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <% include ../parts/header %>
<body>
    <% include ../parts/menu %>
    <section id="mountain" class="hero is-info is-large">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <strong>Ops la pagina &egrave; in via di sviluppo!</strong>
                </h1>
                <h2 class="subtitle">
                    Sar&agrave; disponibile a breve, intanto<br />
                    <a href="/days"><strong>torna all'app</strong></a>, non perdere tempo!
                </h2>
            </div>
        </div>
    </section>

</body>
</html>